<div class="page_title">
  Choose a cocktail
</div>

<div class="container" style="width:100%; height:100%">
  <div class="index_wrapper">
    <div class="row">
      <% @cocktails.each do |c| %>
      <%= link_to cocktail_path(c) do  %>
      <div class="col-xs-12 col-sm-6 col-md-4 cocktail_index_item_wrapper">
        <div class="cocktail_index_headline">
          <%= c.name %>
        </div>
        <div class="cocktail_index_ingredient_category">
          <% Dose.where(cocktail: c).each do |d| %>
          <%= image_tag "ginger.jpg", class: "cocktail_ingredient_img" %>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>



<!-- <h1>Here are the cocktails</h1>

<%= link_to "Add a new cocktail", new_cocktail_path %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= c.name %></h2>
          <p>Very cool city, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <% end %>
  </div>
</div> -->
