<div class="page_title">
  <%= @cocktail.name %>
</div>


<% @doses.each  do |d|%>
<p>
  <%= d.description %> of <%= d.ingredient.name %>  <%= link_to  "Delete", destroy_dose_path(d),
        method: :delete,
        data: { confirm: "Are you sure you want to delete this flat?" } %>
</p>
<% end %>

<%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %>
